
h1{
    color:rgb(255, 0, 0);
    margin: 10;
    text-align: center;
}

h2{
    text-align:center;
    color: orange;
}
p{
    color:green
}


.mi-descripcion p {
    color:brown;
    text-align: center;
}

.contenedor-tarjeta{
    background-color: rgb(143, 153, 210);
    align-content: center;
    align-items: center;
}

.datos-contacto{
    text-align: center;
}

.foto-perfil img {
    display: flex;
    align-items: center;
    align-content: center;
    width: 200px;
    border-width: 8px;
    border-style: solid;
    }